<div class="w-full h-20 shadow-md bg-[#202124] fixed z-50">
  <div class="flex justify-between h-full px-10">
    <div class="h-full flex items-center text-gray-200 flex-row gap-1">
      <mat-icon
        aria-hidden="false"
        aria-label="home icon"
        fontIcon="home"
      ></mat-icon>
      <a href="/">
        <h1 class="text-2xl font-bold">Homes</h1>
      </a>
    </div>
    <div class="flex flex-row gap-10 h-full items-center text-gray-200">
      <a routerLink="/">Home</a>
      <a routerLink="/real-estate">Real Estate</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
    </div>
  </div>
</div>
